{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <title> bostrap projedct 20</title>
</head>

<body>
  <center>

    
    <h1> CLICK THIS LINKS </h1>

    <img src="{% static  'images/IMG_.jpg' %}" alt="No image" height="500px" width="500px" >
    <br>
    <br>
    <br>



    <div>
      <a href=" C:\Users\vamsi\Pictures\IMG_20220817_200128.jpg"> cilck here</a></button>
    </div>
    
      <h1 class="card-title">KALYAN THIS FILES</h1>
      <h1 class="card-text">HISTORY KALYAN</h1>

      <a href="C:\Users\vamsi\Desktop\django  folder\kalyan\Scripts\boost1\static\images\00.jpeg"> CLICK ME ONCES</a></button>







    </div>
    </div>



    </div>
    </div>
















  </center>

</body>

</html>